.app-project {
  display: grid;
  grid-template-rows: 60px 1fr 30px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header header"
                        "nav-bar main"
                        "footer footer";
  grid-gap: 10px;
  font-family: sans-serif;
  width: 1000px;
  margin: 0 auto;

}


.main {
    grid-area: main;
    margin-left: 50px;
}